.main{
  background: linear-gradient(
    90deg,
    var(--oxford-blue-2) 0%,
    var(--ua-blue) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}