:root {
  --rich-black-fogra-39: #070707ff;
  --oxford-blue: #001e32ff;
  --oxford-blue-2: #05234bff;
  --royal-blue-dark: #0a2864ff;
  --st-patricks-blue: #0f2d82ff;
  --ua-blue: #1437afff;
  --denim-blue: #1946d7ff;
  --blue-ryb: #1e55ffff;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--oxford-blue-2) 0%,
    var(--ua-blue) 100%
  );
}
a {
  color: inherit;
  text-decoration: none;
}
